<div class="absolute-100-100">
    <div class="col-12 row">
      <div class="col-4"></div>
      <div class="col-4">
        <div class="card">
          <div class="card-header">
            <h2 class="text-center text-warning">Podaj kod wysłany na twój adres email</h2>
            <p class="text-center text-muted">{{email}}</p>
          </div>
          <div class="card-body">
              <div class="form-group m-1">
                <label>KOD</label>
                <input [(ngModel)]="code" type="text" class="form-control" placeholder="Wprowadź kod">
              </div>
              <div class="d-flex justify-content-end">
                <button [disabled]="validate()" href class="btn btn-warning m-1 text-right" (click)="submit()">Resetuj hasło</button>
              </div>
          </div>
        </div>
      </div>
      <div class="col-4"></div>
    </div>
  </div>