<div class="absolute-100-100">
    <div class="col-12 row">
      <div class="col-4"></div>
      <div class="col-4">
        <div class="card" *ngIf="!isPasswordResetCodeCoreect">
          <div class="card-header">
            <h2 class="text-center text-warning">Podaj kod wysłany na twój adres email</h2>
            <p class="text-center text-muted">{{email}}</p>
          </div>
          <div class="card-body">
              <div class="form-group m-1">
                <label>KOD</label>
                <input [(ngModel)]="code" type="text" class="form-control" placeholder="Wprowadź kod">
              </div>
              <div class="d-flex justify-content-end">
                <button [disabled]="validate()" href class="btn btn-warning m-1 text-right" (click)="checkPasswordResetCode()">Resetuj hasło</button>
              </div>
          </div>
        </div>
        <div class="card" *ngIf="isPasswordResetCodeCoreect">
            <div class="card-header">
              <h2 class="text-center text-warning">Utwórz nowe hasło</h2>
              <p class="text-center text-muted">{{email}}</p>
            </div>
            <div class="card-body">
                <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
                    <div class="form-group m-1">
                        <label for="new-password">Nowe hasło</label>
                        <input requiredField formControlName="newPassword" id="new-password" type="password" class="form-control" placeholder="Wprowadź nowe hasło">
                        <small id="passwordWarning" class="form-text text-danger validation-warning">Hasło jest wymagane</small>
                    </div>
                    <div class="form-group m-1">
                        <label for="new-password-confirm">Powtórz hasło</label>
                        <input requiredField formControlName="confirmPassword" id="new-password-confirm" type="password" class="form-control" placeholder="Wprowadź hasło ponownie">
                        <small id="confirmPasswordWarning" class="form-text text-danger validation-warning">Hasło jest wymagane</small>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-warning m-1 text-right">Resetuj hasło</button>
                    </div>
                </form>
            </div>
          </div>
      </div>
      <div class="col-4"></div>
    </div>
  </div>