.grid-5-columns{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    row-gap: 10px;
    column-gap: 10px;
    margin: 10px;
}

.page-number{
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    margin: 10px;
}

.background-yellow{
    background-color: rgba(228, 202, 57, 0.897);
}