<app-ingredients-modal *ngIf="addIngredientsModalOpened"
  [ingredientPositions]="ingredientPositions"
  [ingredientCategories]="ingredientCategories"
  >
</app-ingredients-modal>

<app-propose-ingredient-modal 
  *ngIf="addProposedIngredientModalOpened"
  [ingredientCategories]="ingredientCategories"
  [ingredientPosition]="ingredientPosition">
</app-propose-ingredient-modal>

<app-propose-category-modal
  *ngIf="addProposedCategoryModalOpened"
  [proposedCategory]="proposedCategory"
  >
</app-propose-category-modal>

<div class="container">
    <div class="rounded-container">
      <div class="col-12 row">
        <div class="col-6">
          <h1 class="header-orange">Dodaj przepis</h1>
        </div>
        <div class="col-6 d-flex justify-content-end align-items-start">
          <div class="btn-group">
            <button class="btn btn-success" (click)="openModal()">Dodaj składniki</button>
            <button class="btn btn-primary" (click)="openProposedIngredientModal()">Zaproponuj składnik</button>
            <button class="btn btn-dark" (click)="openProposedCategoryModal()">Zaproponuj kategorię</button>
          </div>
        </div>
        
      </div>
        <form autocomplete="off">
            <div class="form-group">
                <label for="category">Kategoria</label>
                <select 
                  *ngIf="!proposedCategory" 
                  [(ngModel)]="selectedCategory" 
                  [ngModelOptions]="{standalone: true}"
                  class="form-control" 
                  id="category" >
                  <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
                </select>

                <div *ngIf="proposedCategory" class="col-12 row">
                  <div class="col-11">
                    <select 
                      [(ngModel)]="proposedCategory" 
                      [ngModelOptions]="{standalone: true}"
                      class="form-control" 
                      id="proposedCategory" 
                      disabled>
                    <option [value]="proposedCategory" style="color: green;">
                      <strong>{{proposedCategory?.name}}</strong>
                    </option>
                    </select>
                  </div>
                  <div class="col-1">
                    <i class="fas fa-times fa-2x pointer" style="color: rgb(204, 9, 9);" (click)="removeProposedCategory()"></i>
                  </div>
                </div>
                
            </div>
            <div class="form-group">
                <label for="name">Nazwa</label>
                <input 
                  [(ngModel)]="proposedRecipe.name" 
                  [ngModelOptions]="{standalone: true}" 
                  class="form-control" id="name" type="text" placeholder="Nazwa"/>
            </div>
            <div class="form-group">
                <label for="subName">Podnazwa</label>
                <input
                  [(ngModel)]="proposedRecipe.subName" 
                  [ngModelOptions]="{standalone: true}" 
                  class="form-control" id="subName" type="text" placeholder="Podnazwa"/>
            </div>
            <div class="form-group">
                <label for="description">Opis</label>
                <textarea 
                  [(ngModel)]="proposedRecipe.description" 
                  [ngModelOptions]="{standalone: true}" 
                  class="form-control" id="description" placeholder="Opis" rows="5">
                </textarea>
            </div>
            <hr>
            <div class="form-group">
              <kendo-fileselect 
                [multiple]="false"
                [(ngModel)]="recipeImage"
                [ngModelOptions]="{standalone: true}"
                [restrictions]="uploadFileRestrictions"
                (select)="onSelectRecipeImageFile($event)"
                required>
              <kendo-fileselect-messages
                dropFilesHere="Upuść obraz tutaj (max 2MB.)"
                select="Załaduj obraz">
              </kendo-fileselect-messages>
            </kendo-fileselect>
            <kendo-formhint>Załaduj obraz przepisu, który będzie widoczny jako główne zdjęcie (max. 2MB)</kendo-formhint>
            </div>
            <hr>
            <div class="form-group">
                <label for="time">Czas przygotowania (w min.)</label>
                <input 
                  [(ngModel)]="proposedRecipe.time" 
                  [ngModelOptions]="{standalone: true}"
                  class="form-control" id="time" type="number" placeholder="Jak długo potrwa przygotowanie dania (min.)"/>
            </div>
            <div class="form-group">
                <label for="personQuantity">Ilość osób</label>
                <input 
                  [(ngModel)]="proposedRecipe.personQuantity" 
                  [ngModelOptions]="{standalone: true}" 
                class="form-control" id="personQuantity" type="number" placeholder="Dla ilu osób wystarczy przygotowana porcja?"/>
            </div>
            <div class="form-group">
                <label for="difficulty">Trudność</label>
                <select 
                  [(ngModel)]="proposedRecipe.difficulty" 
                  [ngModelOptions]="{standalone: true}" 
                  id="difficulty" class="form-control">
                  <option *ngFor="let difficulty of difficulties" [value]="difficulty">{{difficulty}}</option>
                </select>
            </div>
            <br>
            <div *ngIf="ingredientQuantities.length > 0 || proposedIngredientQuantities.length > 0">
              <h5 class="header-orange">Składniki</h5>
              <div class="form-group" *ngFor="let ingredientQuantity of ingredientQuantities; let i = index">
                <div class="col-12 row">
                  <div class="col-2 d-flex flex-row justify-content-between align-items-center">
                    <label [for]="ingredientQuantity.ingredient.name">{{ingredientQuantity.ingredient.name}}</label>
                    <span (click)="removeIngredient(i)"><i class="fas fa-trash-alt" style="color: red; cursor: pointer;"></i></span>
                  </div>
                  <div class="col-7 col-md-6 col-2 d-flex flex-column justify-content-center align-items-start">
                    <input
                      [(ngModel)]="ingredientQuantity.description"
                      [ngModelOptions]="{standalone: true}"
                      [id]="ingredientQuantity.ingredient.name" 
                      class="form-control" placeholder="Opis">
                  </div>
                  <div class="col-1 col-md-2 col-2 d-flex flex-column justify-content-center align-items-start">
                    <input 
                      [(ngModel)]="ingredientQuantity.quantity"
                      [ngModelOptions]="{standalone: true}"
                      type="number" class="form-control" placeholder="Ilość">
                  </div>
                  <div class="col-2 col-2 d-flex flex-column justify-content-center align-items-start">
                    <select 
                      [(ngModel)]="ingredientQuantity.unit"
                      [ngModelOptions]="{standalone: true}"
                      class="form-control">
                      <option *ngFor="let unit of units" [ngValue]="unit">
                        {{unit.name}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group" *ngFor="let proposedIngredientQuantity of proposedIngredientQuantities; let i = index">
                <div class="col-12 row">
                  <div class="col-2 d-flex flex-row justify-content-between align-items-center">
                    <label 
                      style="color: green; cursor: pointer;" 
                      [for]="proposedIngredientQuantity.proposedIngredient.name"
                      (click)="editProposedIngredient(proposedIngredientQuantity.proposedIngredient)"
                      >
                        <strong>
                          {{proposedIngredientQuantity.proposedIngredient.name}}
                        </strong>
                      </label>
                      <span (click)="removeProposedIngredient(i)"><i class="fas fa-trash-alt" style="color: red; cursor: pointer;"></i></span>
                  </div>
                  <div class="col-7 col-md-6 d-flex flex-row justify-content-between align-items-center">
                    <input 
                      [(ngModel)]="proposedIngredientQuantity.description"
                      [ngModelOptions]="{standalone: true}"
                      [id]="proposedIngredientQuantity.proposedIngredient.name" class="form-control" placeholder="Opis">
                  </div>
                  <div class="col-1 col-md-2 d-flex flex-row justify-content-between align-items-center">
                    <input 
                      [(ngModel)]="proposedIngredientQuantity.quantity"
                      [ngModelOptions]="{standalone: true}"
                      type="number" class="form-control" placeholder="Ilość">
                  </div>
                  <div class="col-2">
                    <select
                      [(ngModel)]="proposedIngredientQuantity.unit"
                      [ngModelOptions]="{standalone: true}"
                      class="form-control d-flex flex-row justify-content-between align-items-center">
                      <option *ngFor="let unit of units" [ngValue]="unit">
                        {{unit.name}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <br>
              <div class="d-flex flex-row justify-content-between">
                <div><h5 class="header-orange">Kroki</h5></div>
                <div><button class="btn btn-success" (click)="addStep()"><i class="fas fa-plus-circle"></i></button></div>
              </div>
              <br>
              <div *ngFor="let step of steps; let index = index">
                <div class="form-group">
                  <div class="d-flex flex-row justify-content-between">
                    <div><h6 class="header-orange">Krok {{index + 1}}</h6></div>
                    <div><button class="btn btn-danger" (click)="removeStep(index)"><i class="fas fa-times"></i></button></div>
                  </div>
                  <textarea 
                    [(ngModel)]="step.description"
                    [ngModelOptions]="{standalone: true}"
                    class="form-control" placeholder="Opis kroku" rows="5">
                  </textarea>
                  <kendo-fileselect 
                      [multiple]="false"
                      [(ngModel)]="stepImages[index]"
                      [ngModelOptions]="{standalone: true}"
                      [restrictions]="uploadFileRestrictions"
                      (select)="onSelectStepImageFile($event, index)">
                      
                    <kendo-fileselect-messages
                      dropFilesHere="Upuść obraz tutaj (max 2MB.)"
                      select="Załaduj obraz">
                    </kendo-fileselect-messages>
                    </kendo-fileselect>
                    <kendo-formhint>Załaduj obraz kroku, który będzie widoczny jako zdjęcie obok opisu czynności (max. 2MB)</kendo-formhint>
                </div>
                <br>
              </div>
              <div>
                <div class="form-group">
                  <h6 class="header-orange">
                    Notatka dla serwisu <i>(opcjonalne)</i>
                  </h6>
                  <textarea
                    [(ngModel)]="proposedRecipe.note"
                    [ngModelOptions]="{standalone: true}"
                    [rows]="6"
                    class="form-control" 
                    placeholder="Notatka dla serwisu - Nie będzie widoczna w przepisie. Służy ona do przekazania administracji swoich spostrzeżeń i uwag na temat tworzenia przepisu, dzięki czemu możemy sprawić by aplikacja stała się jeszcze lepsza ;)">
                  </textarea>
                </div>
              </div>
              <br>
              <div class="col-12 row">
                <div class="col-10"></div>
                <div class="col-2">
                  <button class="btn btn-warning" (click)="submit()">
                    Dodaj
                  </button>
                </div>
              </div>
            </div>
        </form>
    </div>
</div>