<div class="absolute-100-100">
    <div class="col-12 row">
        <div class="col-3"></div>
      <div class="col-6">
        <div class="card">
          <div class="card-header">
            <h2 class="text-center text-warning">Dziękujemy za rejestrację</h2>
          </div>
          <div class="card-body">
            <p class="text-center">Zarejestrowałeś się poprawnie! Twoje konto jest jednak nieaktywne, przez co nie możesz się zalogować. Aby aktywować swoje konto, sprawdź swoją skrzynkę email <strong>{{email}}</strong> i kliknij w link aktywacyjny, który Ci wysłaliśmy :)</p>
          </div>
        </div>
      </div>
      <div class="col-3"></div>
    </div>
</div>
