<div class="container">
        <div class="col-12 m-10 row">
            <div class="col-3">
                <div class="image-upload">
                    <label for="file-input">
                        <img 
                            class="rounded-100" 
                            [src]="isImageUploading ? '../../../../assets/images/loading-image.gif' : (userImage.length > 0 ? userDetails?.image : '../../../../assets/images/default.png')"
                            width="300"
                            height="300"
                        />
                    </label>
                    <input id="file-input" type="file" style="display: none;" (change)="uploadImage($event)">
                </div>
                <div class="rounded-container" [ngSwitch]="userDetails?.roleId">
                    <div *ngIf="!editMode">
                        <h2>{{userDetails?.firstName}} {{userDetails?.lastName}}</h2>
                        <h6 class="text-muted">{{userDetails?.email}}</h6>
                        <p>{{userDetails?.description}}</p>
                        <p><b>Data ur.:</b> {{DateFormat.formatDate(userDetails?.dateOfBirth)}}<br>
                        <b>Rola: </b> 
                            <span *ngSwitchCase="role.ADMIN">Admin</span>
                            <span *ngSwitchCase="role.USER">Użytkownik</span>
                            <span *ngSwitchCase="role.EMPLOYEE">Pracownik serwisu</span>
                        </p>
                    </div>
                    <div *ngIf="editMode">
                        <div class="form-group">
                            <label><b>Imię</b></label>
                            <input class="form-control" [(ngModel)]="userDetails.firstName"/>
                        </div>
                        <div class="form-group">
                            <label><b>Nazwisko</b></label>
                            <input class="form-control" [(ngModel)]="userDetails.lastName"/>
                        </div>
                        <div class="form-group">
                            <label><b>Opis</b></label>
                            <textarea class="form-control" [(ngModel)]="userDetails.description"></textarea>
                        </div>
                        <div class="form-group">
                            <label><b>Data urodzenia</b></label>
                            <input class="form-control" type="date" [(ngModel)]="userDetails.dateOfBirth"/>
                        </div>
                    </div>
                    <br>
                    <div class="btn-group">
                        <button *ngIf="editMode" class="btn btn-success" (click)="saveProfile()">
                            Zapisz
                        </button>
                        <button 
                            [ngClass]="editMode ? 'btn btn-danger' : 'btn btn-warning'" 
                            (click)="editProfile()">
                                {{editMode ? 'Anuluj': 'Edytuj profil'}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="rounded-container">
                    <nav>
                        <ul class="nav nav-pills">
                            <li class="nav-item" *ngFor="let bookmark of bookmarks">
                              <button 
                                [ngClass]="bookmark.isDisabled ? 'nav-link disabled' : bookmark.isActive ? 'nav-link active' : 'nav-link'" 
                                aria-current="page"
                                (click)="changeBookmark(bookmark)"
                                >
                                    {{bookmark.label}}
                                </button>
                            </li>
                        </ul>
                    </nav>
                    <div *ngIf="selectedBookmark.name == 'MyRecipes'">
                        <br><br>
                        <p class="text-center">Brak przepisów</p>
                    </div>
                    <div *ngIf="selectedBookmark.name == 'MyReports'">
                        <br><br>
                        <p class="text-center">Brak zgłoszeń</p>
                    </div>
                </div>
            </div>
        </div>
    </div>