<!-- <div class="absolute-100-100">
    <div class="container">
        <div class="col-12 m-10 row">
            <div class="col-3">
                <div>
                    <img 
                        class="rounded-100" 
                        [src]="userImage.length > 0 ? userDetails?.image : '../../../../assets/images/default.png'"
                        width="300"
                        height="300"
                    />
                </div>
                <div class="rounded-container" [ngSwitch]="userDetails.roleId">
                    <h2>{{userDetails.firstName}} {{userDetails.lastName}}</h2>
                    <h6 class="muted">{{userDetails.email}}</h6>
                    <p>{{userDetails.description}}</p>
                    <p><b>Data ur.:</b> {{userDetails.dateOfBirth}}<br>
                    <b>Rola: </b> 
                        <span *ngSwitchCase="role.ADMIN">Admin</span>
                        <span *ngSwitchCase="role.USER">Użytkownik</span>
                        <span *ngSwitchCase="role.EMPLOYEE">Pracownik serwisu</span>
                    </p>
                    <button class="btn btn-warning">Edytuj profil</button>
                </div>
            </div>
            <div class="col-9">
                <div class="rounded-container">
                    <nav>
                        <ul class="nav nav-pills">
                            <li class="nav-item" *ngFor="let bookmark of bookmarks">
                              <button 
                                [ngClass]="bookmark.isDisabled ? 'nav-link disabled' : bookmark.isActive ? 'nav-link active' : 'nav-link'" 
                                aria-current="page"
                                (click)="changeBookmark(bookmark)"
                                >
                                    {{bookmark.label}}
                                </button>
                            </li>
                        </ul>
                    </nav>
                    <div *ngIf="selectedBookmark.name == 'MyRecipes'">
                        <br><br>
                        <p class="text-center">Brak przepisów</p>
                    </div>
                    <div *ngIf="selectedBookmark.name == 'MyReports'">
                        <br><br>
                        <p class="text-center">Brak zgłoszeń</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="absolute-100-100">
    <div class="container">
        <div class="col-12 m-10 row">
            <div class="col-3">
                <div>
                    <img 
                        class="rounded-100" 
                        [src]="userImage.length > 0 ? userDetails?.image : '../../../../assets/images/default.png'"
                        width="300"
                        height="300"
                    />
                </div>
                <div class="rounded-container" [ngSwitch]="userDetails?.roleId">
                    <h2>{{userDetails?.firstName}} {{userDetails?.lastName}}</h2>
                    <h6 class="muted">{{userDetails?.email}}</h6>
                    <p>{{userDetails?.description}}</p>
                    <p><b>Data ur.:</b> {{userDetails?.dateOfBirth}}<br>
                    <b>Rola: </b> 
                        <span *ngSwitchCase="role.ADMIN">Admin</span>
                        <span *ngSwitchCase="role.USER">Użytkownik</span>
                        <span *ngSwitchCase="role.EMPLOYEE">Pracownik serwisu</span>
                    </p>
                    <button class="btn btn-warning">Edytuj profil</button>
                </div>
            </div>
            <div class="col-9">
                <div class="rounded-container">
                    <nav>
                        <ul class="nav nav-pills">
                            <li class="nav-item" *ngFor="let bookmark of bookmarks">
                              <button 
                                [ngClass]="bookmark.isDisabled ? 'nav-link disabled' : bookmark.isActive ? 'nav-link active' : 'nav-link'" 
                                aria-current="page"
                                (click)="changeBookmark(bookmark)"
                                >
                                    {{bookmark.label}}
                                </button>
                            </li>
                        </ul>
                    </nav>
                    <div *ngIf="selectedBookmark.name == 'MyRecipes'">
                        <br><br>
                        <p class="text-center">Brak przepisów</p>
                    </div>
                    <div *ngIf="selectedBookmark.name == 'MyReports'">
                        <br><br>
                        <p class="text-center">Brak zgłoszeń</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>