<div class="container">
    <form class="k-form" [formGroup]="formGroup">
      <kendo-formfield>
        <kendo-label [for]="oldPassword" text="Aktualne hasło*"></kendo-label>
        <input formControlName="oldPassword" type="password" kendoTextBox />
        <kendo-formerror>Pole wymagane</kendo-formerror>
      </kendo-formfield>
      <kendo-formfield>
        <kendo-label [for]="newPassword" text="Nowe hasło"></kendo-label>
        <input formControlName="newPassword" type="password" kendoTextBox />
        <kendo-formerror>Pole wymagane</kendo-formerror>
      </kendo-formfield>
      <kendo-formfield>
        <kendo-label [for]="confirmPassword" text="Potwierdź hasło"></kendo-label>
        <input formControlName="confirmPassword" type="password" kendoTextBox />
        <kendo-formerror>Pole wymagane</kendo-formerror>
      </kendo-formfield>
    </form>
  </div>