<div class="col-12 row">
    <div class="col-6">
        <div class="container">
            <h2>Utwórz przepis</h2>
            <form class="k-form" [formGroup]="form">
              <kendo-formfield>
                <kendo-floatinglabel [text]="'Kategoria'">
                  <kendo-dropdownlist
                    [data]="categories"
                    textField="name"
                    valueField="id"
                    [formControlName]="'category'"
                    required
                  >
                  </kendo-dropdownlist>
                </kendo-floatinglabel>
                <kendo-formhint>Wybierz kategorię kuchni</kendo-formhint>
                <kendo-formerror>Błąd: Kategoria jest wymagana</kendo-formerror>
              </kendo-formfield>
                <kendo-formfield>
                  <kendo-floatinglabel [text]="'Nazwa'">
                    <kendo-textbox
                      [formControlName]="'name'"
                      required
                    ></kendo-textbox>
                  </kendo-floatinglabel>
                  <kendo-formhint>Wprowadź nazwę przepisu</kendo-formhint>
                  <kendo-formerror>Błąd: Nazwa jest wymagana</kendo-formerror>
                </kendo-formfield>
                <kendo-formfield>
                    <kendo-floatinglabel [text]="'Podnazwa'">
                      <kendo-textbox
                        [formControlName]="'subName'"
                      ></kendo-textbox>
                    </kendo-floatinglabel>
                    <kendo-formhint>Wprowadź podnazwę przepisu</kendo-formhint>
                </kendo-formfield>
                <kendo-formfield>
                    <kendo-floatinglabel [text]="'Opis'">
                      <kendo-textarea
                        [rows]="5"
                        [resizable]="'none'"
                        [formControlName]="'description'"
                        required
                      ></kendo-textarea>
                    </kendo-floatinglabel>
                    <kendo-formhint>Wprowadź opis przepisu</kendo-formhint>
                    <kendo-formerror>Błąd: Opis jest wymagany</kendo-formerror>
                </kendo-formfield>
                <kendo-formfield>
                  <kendo-floatinglabel [text]="'Dla ilu osób przeznaczone jest danie?'">
                    <kendo-textbox
                      [formControlName]="'personQuantity'"
                    ></kendo-textbox>
                  </kendo-floatinglabel>
                  <kendo-formhint>Wprowadź podnazwę przepisu</kendo-formhint>
              </kendo-formfield>
              <kendo-formfield>
                <kendo-floatinglabel [text]="'Jak długo trwa przygotowanie dania? (min.)'">
                  <kendo-numerictextbox
                    [formControlName]="'time'"
                  ></kendo-numerictextbox>
                </kendo-floatinglabel>
                <kendo-formhint>Wprowadź podnazwę przepisu</kendo-formhint>
            </kendo-formfield>
                <kendo-formfield>
                    <kendo-label [text]="'Składniki'"></kendo-label>
                      <kendo-multiselect
                      [ngModelOptions]="{standalone: true}"
                        [data]="groupedIngredients"
                        [(ngModel)]="chosenIngredients"
                        [valueField]="'id'"
                        [textField]="'name'"
                        (valueChange)="ingredientsValueChange($event)"
                        required
                      ></kendo-multiselect>
                    <kendo-formhint>Wybierz składniki</kendo-formhint>
                    <kendo-formerror>Błąd: Składniki są wymagane!</kendo-formerror>
                </kendo-formfield>
                <div class="col-12 row d-flex flex-row m-1" *ngFor="let ingredient of chosenIngredients; let i = index">
                    <div class="col-2 d-flex flex-row"><p class="m-auto">{{ingredient.name}}</p></div>
                    <div class="col-6">
                        <kendo-textbox
                        placeholder="Opis"
                        [clearButton]="true"
                        [(ngModel)]="ingredientsQuantity[i].description"
                        [ngModelOptions]="{standalone: true}"
                      ></kendo-textbox>
                    </div>
                    <div class="col-2">
                      <kendo-numerictextbox
                        [(ngModel)]="ingredientsQuantity[i].quantity"
                        [ngModelOptions]="{standalone: true}"
                      >
                      </kendo-numerictextbox>
                    </div>
                    <div class="col-2">
                      <kendo-dropdownlist
                        [data]="units"
                        textField="name"
                        valueField="id"
                        [value]="units[0]"
                        [(ngModel)]="ingredientsQuantity[i].unit"
                        [ngModelOptions]="{standalone: true}"
                        required
                      >
                      </kendo-dropdownlist>
                    </div>
                </div>
              </form>
        </div>
    </div>
    <div class="col-6">
        <app-admin-recipe-create-preview>

        </app-admin-recipe-create-preview>
    </div>
</div>