<div class="col-12 row">
    <div class="col-6">
        <div class="container">
            <h2>Utwórz przepis</h2>
            <form class="k-form" [formGroup]="form">
              <kendo-formfield>
                <kendo-floatinglabel [text]="'Kategoria'">
                  <kendo-dropdownlist
                    [data]="categories"
                    textField="name"
                    valueField="id"
                    [formControlName]="'category'"
                    required
                  >
                  </kendo-dropdownlist>
                </kendo-floatinglabel>
                <kendo-formhint>Wybierz kategorię kuchni</kendo-formhint>
                <kendo-formerror>Błąd: Kategoria jest wymagana</kendo-formerror>
              </kendo-formfield>
                <kendo-formfield>
                  <kendo-floatinglabel [text]="'Nazwa'">
                    <kendo-textbox
                      [formControlName]="'name'"
                      required
                    ></kendo-textbox>
                  </kendo-floatinglabel>
                  <kendo-formhint>Wprowadź nazwę przepisu</kendo-formhint>
                  <kendo-formerror>Błąd: Nazwa jest wymagana</kendo-formerror>
                </kendo-formfield>
                <kendo-formfield>
                    <kendo-floatinglabel [text]="'Podnazwa'">
                      <kendo-textbox
                        [formControlName]="'subName'"
                      ></kendo-textbox>
                    </kendo-floatinglabel>
                    <kendo-formhint>Wprowadź podnazwę przepisu</kendo-formhint>
                </kendo-formfield>
                <kendo-formfield>
                    <kendo-floatinglabel [text]="'Opis'">
                      <kendo-textarea
                        [rows]="5"
                        [resizable]="'none'"
                        [formControlName]="'description'"
                      ></kendo-textarea>
                    </kendo-floatinglabel>
                    <kendo-formhint>Wprowadź opis przepisu</kendo-formhint>
                    <kendo-formerror>Błąd: Opis jest wymagany</kendo-formerror>
                </kendo-formfield>
                <kendo-formfield>
                  <kendo-label>Obraz przepisu</kendo-label>
                  <kendo-fileselect 
                    [multiple]="false"
                    [(ngModel)]="recipeImage"
                    [ngModelOptions]="{standalone: true}"
                    [restrictions]="uploadFileRestrictions"
                    required>
                    <kendo-fileselect-messages
                      dropFilesHere="Upuść obraz tutaj (max 2MB.)"
                      select="Załaduj obraz">
                    </kendo-fileselect-messages>
                  </kendo-fileselect>
                  <kendo-formhint>Załaduj obraz przepisu, który będzie widoczny jako główne zdjęcie (max. 2MB)</kendo-formhint>
                  <kendo-formerror>Błąd: Zbyt duży plik lub zły format pliku</kendo-formerror>
                </kendo-formfield>
                <kendo-formfield>
                  <kendo-floatinglabel [text]="'Dla ilu osób przeznaczone jest danie?'">
                    <kendo-numerictextbox
                      [formControlName]="'personQuantity'"
                    ></kendo-numerictextbox>
                  </kendo-floatinglabel>
                  <kendo-formhint>Wprowadź liczbę osób</kendo-formhint>
              </kendo-formfield>
              <kendo-formfield>
                <kendo-floatinglabel [text]="'Jak długo trwa przygotowanie dania? (min.)'">
                  <kendo-numerictextbox
                    [formControlName]="'time'"
                  ></kendo-numerictextbox>
                </kendo-floatinglabel>
                <kendo-formhint>Wprowadź liczbę w minutach</kendo-formhint>
            </kendo-formfield>
            <kendo-formfield>
              <kendo-floatinglabel [text]="'Trudność'">
                <kendo-dropdownlist
                  [data]="difficulties"
                  [formControlName]="'difficulty'"
                  required
                >
                </kendo-dropdownlist>
              </kendo-floatinglabel>
              <kendo-formhint>Wybierz kategorię kuchni</kendo-formhint>
              <kendo-formerror>Błąd: Kategoria jest wymagana</kendo-formerror>
            </kendo-formfield>
                <kendo-formfield>
                    <kendo-label [text]="'Składniki'"></kendo-label>
                      <kendo-multiselect
                      [ngModelOptions]="{standalone: true}"
                        [data]="groupedIngredients"
                        [(ngModel)]="chosenIngredients"
                        [valueField]="'id'"
                        [textField]="'name'"
                        (valueChange)="ingredientsValueChange($event)"
                        required
                      ></kendo-multiselect>
                    <kendo-formhint>Wybierz składniki</kendo-formhint>
                    <kendo-formerror>Błąd: Składniki są wymagane!</kendo-formerror>
                </kendo-formfield>
                <div class="col-12 row d-flex flex-row m-1" *ngFor="let ingredient of chosenIngredients; let i = index">
                    <div class="col-2 d-flex flex-row"><p class="m-auto">{{ingredient.name}}</p></div>
                    <div class="col-6">
                        <kendo-textbox
                        placeholder="Opis"
                        [clearButton]="true"
                        [(ngModel)]="ingredientsQuantity[i].description"
                        [ngModelOptions]="{standalone: true}"
                      ></kendo-textbox>
                    </div>
                    <div class="col-2">
                      <kendo-numerictextbox
                        [(ngModel)]="ingredientsQuantity[i].quantity"
                        [ngModelOptions]="{standalone: true}"
                        required
                      >
                      </kendo-numerictextbox>
                    </div>
                    <div class="col-2">
                      <kendo-dropdownlist
                        [data]="units"
                        textField="name"
                        valueField="id"
                        [value]="units[0]"
                        [(ngModel)]="ingredientsQuantity[i].unit"
                        [ngModelOptions]="{standalone: true}"
                        required
                      >
                      </kendo-dropdownlist>
                    </div>
                </div>
                <p class="k-block">
                  <button kendoButton (click)="addStep()" look="outline">
                    Dodaj krok
                  </button>
                </p>
                <div class="col-12 row d-flex flex-row m-1" *ngFor="let step of steps; let i = index">
                  <div class="col-12 row">
                    <div class="col-11"><h6>Krok {{i + 1}}</h6></div>
                    <div class="col-1">
                      <p style="color: rgb(245, 56, 56);">
                        <button kendoButton (click)="removeStep(i)" look="flat" >X</button>
                      </p>
                  </div>
                  </div>
                  
                  <div class="col-12">
                    <kendo-textarea 
                      [rows]="6" 
                      [(ngModel)]="steps[i].description"
                      [ngModelOptions]="{standalone: true}">
                    </kendo-textarea>
                  </div>
                  <div>
                    <kendo-fileselect 
                      [multiple]="false"
                      [(ngModel)]="stepImages[i]"
                      [ngModelOptions]="{standalone: true}"
                      [restrictions]="uploadFileRestrictions"
                      (select)="onSelectStepImageFile($event, i)">
                      
                    <kendo-fileselect-messages
                      dropFilesHere="Upuść obraz tutaj (max 2MB.)"
                      select="Załaduj obraz">
                    </kendo-fileselect-messages>
                    </kendo-fileselect>
                    <kendo-formhint>Załaduj obraz kroku, który będzie widoczny jako zdjęcie obok opisu czynności (max. 2MB)</kendo-formhint>
                  </div>
                </div>
                <p class="k-block">
                  <button kendoButton (click)="addRecipe()" [primary]="true">Dodaj przepis</button>
                </p>
              </form>
        </div>
    </div>
    <div class="col-6">
        <app-admin-recipe-create-preview>

        </app-admin-recipe-create-preview>
    </div>
</div>