<div class="container">
    <div class="rounded-container">
        <nav>
            <ul class="nav nav-pills">
                <li class="nav-item" *ngFor="let bookmark of bookmarks">
                  <button 
                    [ngClass]="bookmark?.isDisabled ? 'nav-link disabled' : bookmark?.isActive ? 'nav-link active' : 'nav-link'" 
                    aria-current="page"
                    (click)="changeBookmark(bookmark)"
                    >
                        {{bookmark?.label}}
                    </button>
                </li>
            </ul>
        </nav>
        <div *ngIf="selectedBookmark == null" class="text-center mt-10">Wybierz Kategorię</div>
        <div *ngIf="selectedBookmark != null">
            <h2 class="text-center m-30">{{selectedBookmark?.label}}</h2>
            <div class="text-center mt-10" *ngIf="recipes?.length < 1">
                Brak
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <div class="mt-10 grid-5-columns">
                    <div *ngFor="let recipe of recipes">
                        <div class="card" style="width: 100%; margin-top: 10px;">
                            <img class="card-img-top" [src]="recipe?.image" alt="Card image cap" width="100%" height="150px">
                            <div class="card-body">
                                <div style="height: 7rem">
                                    <h5 class="card-title m-0">{{recipe?.name}}</h5>
                                    <span class="card-text text-muted">{{recipe?.subName?.length > 50 ? recipe?.subName.slice(0, 50) + '...' : recipe?.subName}}</span>
                                    <br>
                                </div>
                                <div style="height: auto">
                                    <div class="col-12 row">
                                        <div class="col-4">
                                            <div class="text-center">
                                                <i class="fas fa-users fa-2x"></i>
                                            </div>
                                            <div class="text-center">
                                                {{recipe?.personQuantity}}
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="text-center">
                                                <i class="fas fa-clock fa-2x"></i>
                                            </div>
                                            <div class="text-center">
                                                {{recipe?.time}} min.
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="text-center" [ngSwitch]="recipe?.difficulty">
                                                <i *ngSwitchCase="'Łatwy'" class="fas fa-circle fa-2x" style="color: green;"></i>
                                                <i *ngSwitchCase="'Normalny'" class="fas fa-circle fa-2x" style="color: orange;"></i>
                                                <i *ngSwitchCase="'Trudny'" class="fas fa-circle fa-2x" style="color: orangered;"></i>
                                            </div>
                                            <div class="text-center">
                                                Poziom
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div>
                                    <a [routerLink]="[recipe?.id]" class="btn btn-warning">Sprawdź</a>
                                </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            
            <div class="text-center mt-50 mb-50">
                <span *ngFor="let page of pages">
                    <a class="page-number" [ngClass]="selectedPage?.name == page?.name ? 'background-yellow' : ''" (click)="changePage(page)">{{page.label}}</a>
                </span>
            </div>
        </div>
    </div>
</div>